@font-face {
	font-family: 'Phamelo';
	src: url(../../assets/fonts/phamelo-webfont.eot) format('embedded-opentype'),
	url(../../assets/fonts/phamelo-webfont.eot) format('embedded-opentype'),
	url(../../assets/fonts/phamelo-webfont.woff) format('woff'),
	url(../../assets/fonts/phamelo-webfont.ttf) format('truetype'),
	url(../../assets/fonts/phamelo-webfont.svg) format('svg');
	font-weight: 400;
	font-style: normal;
}