@font-face {
	font-family: Phamelo;
	src: url("../fonts/phamelo-webfont.eot");
	src: url("../fonts/phamelo-webfont.eot?#iefix") format("embedded-opentype"),
		url("../fonts/phamelo-webfont.woff") format("woff"),
		url("../fonts/phamelo-webfont.ttf") format("truetype"),
		url("../fonts/phamelo-webfont.svg#webfont") format("svg");
}
:root {
	--blue: #007bff;
	--indigo: #6610f2;
	--purple: #6f42c1;
	--pink: #e83e8c;
	--red: #dc3545;
	--orange: #fd7e14;
	--yellow: #ffc107;
	--green: #28a745;
	--teal: #20c997;
	--cyan: #17a2b8;
	--white: #fff;
	--gray: #6c757d;
	--gray-dark: #343a40;
	--primary: #865580;
	--secondary: #c0bedb;
	--success: #ebc44e;
	--info: #63e792;
	--warning: #ffed88;
	--danger: #703b3b;
	--light: #f8f8f6;
	--dark: #555;
}

/* SIZES SELECTED AND LARGER */

/* Extra small devices (portrait phones, less than 576px)
No media query for `xs` since this is the default in Bootstrap */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
	.parallax {
		min-height: 500px;
	}
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
	.parallax {
		min-height: 700px !important;
	}
	.jumbotron {
		margin-top: 20vw !important;
	}
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
	.parallax {
		min-height: 800px !important;
	}
	.jumbotron {
		margin-top: 10vw !important;
	}
	#adopt {
		margin-left: 10px !important;
		margin-top: 0px !important;
	}
	#banner-subtext {
		margin-left: 10px;
	}
	#down-arrow-div {
		margin-top: 180px !important;
	}
	.parent-card {
		width: 28rem !important;
	}
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}
/* ==================================================================== */
/* SIZES SELECTED AND SMALLER */
/* ==================================================================== */

/* Small devices (landscape phones, 576px and down) */
@media (max-width: 576px) {
	html {
		font-size: 14px !important;
	}
}

/* Medium devices (tablets, 768px and down) */
@media (max-width: 768px) {
}

/* Large devices (desktops, 992px and down) */
@media (max-width: 992px) {
}

/* Extra large devices (large desktops, 1200px and down) */
@media (max-width: 1200px) {
}

.card,
.card li {
	background-color: var(--light) !important;
}

#logo-text {
	font-family: "Phamelo";
	font-size: 1.5em;
}

.jumbotron {
	background: none !important;

	height: 500px;
}

.banner {
	position: absolute;
	top: 0px;
	z-index: -1;
	height: 600px;
	object-fit: cover;
	overflow: hidden;
}

.banner-image {
	filter: brightness(0.5);
}

.headerSpacer {
	height: 100px;
}
.jumbotron {
	margin-top: 30vw;
	margin-left: 2vw;
	margin-right: 2vw;
	color: lightgoldenrodyellow;
}

.spacer {
	height: 2000px;
}
.parallax {
	/* The image used */
	background-image: url("./smile2croppeddark.jpg");
	display: flex;
	justify-content: center;
	align-items: center;
	/* Set a specific height */
	min-height: 500px;
	/* Create the parallax scrolling effect */
	background-attachment: fixed;
	background-position: top;
	background-repeat: no-repeat;
	background-size: cover;
}
.parallax2 {
	background-image: url("./bandanadark.jpg");
	min-height: 100px;
	display: flex;
	/* Create the parallax scrolling effect */
	background-attachment: fixed;
	background-position: top;
	background-repeat: no-repeat;
	background-size: cover;
}
.parallax3 {
	background-image: url("./tennisballcroppeddark.jpg");
	min-height: 100px;
	display: flex;
	/* Create the parallax scrolling effect */
	background-attachment: fixed;
	background-position: top;
	background-repeat: no-repeat;
	background-size: cover;
}
.parallax4 {
	background-image: url("./sleepy.jpg");
	min-height: 100px;
	display: flex;
	/* Create the parallax scrolling effect */
	background-attachment: fixed;
	background-position: top;
	background-repeat: no-repeat;
	background-size: cover;
}

.input-group-btn {
	display: inline;
}
#expecting-date {
	font-weight: 700;
	color: var(--warning);
}
#expecting-h1 {
	line-height: 80%;
}
#adopt {
	margin-top: 5px;
	box-shadow: 0px 5px 5px 2px rgba(0, 0, 0, 0.2);
}
.parent-card {
}
.input-div {
	overflow: hidden;
}
#email-input {
	border-radius: 10px 0px 0px 10px;
	float: left;
}
#email-submit {
	border-radius: 0px 10px 10px 0px;
	float: right;
}
#down-arrow-div {
	margin-top: 140px;
	display: flex;
	justify-content: center;
	align-items: center;
}
#down-arrow {
	color: var(--light);
	/* filter: opacity(50%); */
}
.heading {
	display: block;
	width: max-content;
}
a {
	text-decoration: none !important;
}
#image-gallery .modal-footer {
	display: block;
}

.thumb {
	margin-top: 15px;
	margin-bottom: 15px;
}
